.icon-yandex{
    width: 100px;
    height: 38px;
    background: no-repeat center url(plugins/nodebb-plugin-sso-yandex2/static/images/logo_yandex.svg);
    margin: 3px 0 0;
    background-size: contain;
}